/**
 * person-grid.css
 *
 * Created by Zander Otavka on 11/17/16.
 */

.person-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.person-grid__spacer {
    pointer-events: none;
}